* {
    box-sizing: border-box;
}

body {
    min-width: 1300px;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
}

.left,
.right {
    background: #fff;
    padding-top: 50px;
}

.left {
    flex: 0 0 272px;
    text-align: center;
}

.middle {
    flex: 1 1 0;
    background: #F5F5FB;
}

.right {
    flex: 0 0 384px;
    padding-left: 30px;
}

.logo {
    color: #5E81F4;
    font-size: 22px;
    text-decoration: none;
}

.logo span {
    color: #fff;
    font-size: 24px;
    font-family: Playfair Display;
    font-weight: bold;
    background-color: #5E81F4;
    border-radius: 12px;
    width: 48px;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
    padding-top: 7px;
    margin-right: 16px;
}

.button-join {
    font-size: 16px;
    color: #FFFFFF;
    background: #5E81F4;
    border-radius: 10px;
    border: none;
    font-family: Inter;
    padding: 17px 40px;
    margin-top: 50px;
    margin-bottom: 50px;
    cursor: pointer;
    outline: none;
}

.menu {
    text-align: left;
    padding: 0 0 0 72px;
}

.menu li {
    color: #8DA1B5;
    list-style: none;
    margin-bottom: 48px;
}

.menu li a {
    color: #8DA1B5;
}

.menu a {
    text-decoration: none;
}

.menu li img {
    margin-right: 25px;
    vertical-align: middle;
}

.menu li svg {
    margin-right: 25px;
    vertical-align: middle;
}


.menu li:active {
    border-right: solid;
    border-width: 3px;
    border-color: #5E81F4;
}

.menu li a:active {
    color: #000;
}
    
.upgrade {
    width: 192px;
    background: #F5F5FB;
    color: #778DAD;
    padding: 90px 25px 25px 25px;
    position: relative;
    margin: 90px auto;
    border-radius: 12px;
}

.icon-upgrade {
    position: absolute;
    top: -40px;
    left: 60px;
}

.button-upgrade {
    background: #5E81F4;
    border-radius: 10px;
    font-size: 16px;
    color: #FFFFFF;
    font-family: inter;
    border: none;
    padding: 13px 35px;
    margin-top: 20px;
    outline: none;
    cursor: pointer;
}

/*middle*/

.search {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.search input {
    font-size: 15px;
    font-family: inter;
    width: 472px;
    height: 56px;
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #CCD6E8;
    font-weight: normal;
    border: none;
    margin-left: 40px;
    padding-left: 20px;
    outline: none;
}

.icon-notification {
    vertical-align: middle;
    margin-right: 30px;
}


.title-courses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.title-tabs {
    font-family: Inter;
    font-size: 28px;
    color: #011F3B;
    margin-left: 40px;
}

.tabs_caption {
    list-style: none;
    font-family: Inter;
    font-size: 17px;
}

.tabs_caption li {
    display: inline-block;
    padding-right: 50px;
    cursor: pointer;
    color: rgba(118, 132, 146, 0.8);
}

.tabs_caption li:last-child {
    padding-right: 30px;
}

.tabs_caption li.active {
    color: #5E81F4;
    text-decoration: underline;
}

.tabs_content {
    display: none;
}

.tabs_content.active {
    display: block;
}

.course-1  {
    margin: 0 30px 35px 30px;
    position: relative;
    border-radius: 10px;
    padding: 10px 10px 40px 30px;
    background-size: cover;
}

.about-course {
    font-family: Inter;
    font-weight: 500;
    font-size: 24px;
    color: #fff;
}

.amount-lessons {
    font-family: Inter;
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    margin-bottom: 150px;   
}

.time-course {
    font-weight: 200;
    color: #fff;
    font-size: 16px;
    position: absolute;
    right: 30px;
    top: 30px;
}

.play-course {
    width: 46px;
    height: 46px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
    position: absolute;
    bottom: 30px;
}

.play-course:after {
    content: "";
    position: absolute;
    top: 30%; 
    left: 37%; 
    border: 9px solid transparent; 
    border-left: 14px solid #fff;
}

.icon-course {
    position: absolute;
    right: 30px;
    bottom: 35px;
}

.course-2 {
    width: 44%;
    background-size: cover;
    border-radius: 10px;
    padding: 10px 10px 40px 30px;
    margin-left: 30px;
    position: relative;
    float: left;
}

.course-3 {
    width: 44%;
    background-size: cover;
    border-radius: 10px;
    padding: 10px 10px 40px 30px;
    position: relative;
    float: right;
    margin-right: 30px;
}

.clearfix {
    clear: both;
}


/*right*/

.icon-profile {
    margin-right: 25px;
}

.avatar {
    display: flex;
}

.general-title {
    font-size: 18px;
    margin-top: 62px;
    margin-bottom: 30px;
}

.progress-icons {
    margin-right: 20px;
    width: 48px;
    height: 48px;
    border-radius: 6px;
    float: left;
}

.progress-icon-1 {
    background-color: #EEF2FD;
    padding-left: 14px;
    padding-top: 11px;
}

.progress-icon-2 {
    background: #D5F5FB;
    padding-left: 11px;
    padding-top: 12px;
}

.progress-icon-3 {
    background: #FFEFD6;
    padding-left: 10px;
    padding-top: 15px;
}

.caption-progress {
    font-size: 16px;
    margin-bottom: -4px;
}

.caption-progress a {
    text-decoration: none;
    color: #000;
}

.level-progress {
    font-weight: normal;
    font-size: 14px;
    color: #83919E;
    margin-bottom: 30px; 
}

.icon-discussion {
    background-color: #EEF2FD;
    padding-left: 13px;
    padding-top: 15px;
}

.icon-animation {
    background: #FFEFD6;
    padding-left: 12px;
    padding-top: 13px;
}

.download {
    background-image:url(../images/download.png);
    margin: 60px 40px 0 0;
    background-size: cover;
    border-radius: 8px;
    position: relative;
}

.download-icon {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #555FFF;
    border-radius: 50%;

}

.download-android {
   top: 80px;
   left: 40px;
   padding: 10px 13px;
}

.download-ios {
    top: 80px;
    left: 95px;
    padding: 9px 11px;
}