* {
	box-sizing: border-box;
}

body {
	font-family: "Rubik", sans-serif;
	font-weight: 500;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.container {
	max-width: 1050px;
	position: relative;
	margin: 0 auto;
}

.first-screen {
	background: url(../images/first-screen.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 200px;
	position: relative;
}

.header {
	padding-top: 50px;
}

.header>.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-menu {
	padding: 0;
	margin: 0;
}

.main-menu li {
	display: inline-block;
	font-size: 14px;
}

.main-menu li a {
	text-decoration: none;
	color: #fff;
	margin-right: 20px;
	padding: 10px 20px;
}

.main-menu li:last-child a {
	margin-right: 0px;
}

.main-menu li a:hover {
	color: #606B74;
	background-color: #fff;
	border-radius: 4px;
}

/*
* Site description section
*/

.site-description {
	position: relative;
	margin-top: 180px;
}

.site-description>.container {
	display: flex;
	justify-content: space-between;
}

.section-title {
	width: 440px;
}

.button-watch-film {
	font-family: Rubik;
	font-size: 12px;
	color: #fff;
	font-weight: 500;
	border: none;
	background: transparent;
	float: right;
	position: absolute;
	right: 175px;
	bottom: 65px;
	cursor: pointer;
	outline: none;
	padding: 0;
}

.button-watch-film:before {
	content: '\25B6';
	padding: 13px;
	font-size: 14px;
	padding: 11px 13px 12px 15px;
	margin-right: 10px;
	background: #FFF;
	color: #000;
	border-radius: 50%;
	box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.5);
}

.social-links {
	position: absolute;
	right: 30px;
	bottom: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	transform: rotate(90deg) translate(25%, 0);
	transform-origin: right top;
}

.social-links li {
	display: inline-block;
}

.social-links li a {
	text-decoration: none;
	color: #fff;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	margin-right: 20px;
	padding: 10px 20px;
}

.social-links li a:last-child {
	margin-right: 0;
}

.social-links li a:hover {
	color: #606B74;
	background-color: #fff;
	border-radius: 4px;
}

.social-links li:last-child {
	margin-right: 0;
}

/*
* END Site description section
*/

.description-houses {
	color: #fff;
	font-size: 16px;
	opacity: 0.8;
	font-weight: 400;
	margin: 0;
}

h1 {
	font-family: Merriweather;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	color: #fff;
	margin: 15px 0 0 0;
}

.materials {
	padding: 60px 0;
	position: relative;
}

.materials>.container {
	display: flex;
	justify-content: space-between;
}

.materials>.container:after {
	content: '';
	position: absolute;
	top: 195px;
	left: calc(100% - 285px);
	background: #222F33;
	width: 100vw;
	height: 100%;
}

.about-materials {
	width: 400px;
}

.title-materials {
	font-family: Merriweather;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	color: #222F33;
	margin-top: 0;
	margin-bottom: 15px;
}

.about-materials p {
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #646D70;
	line-height: 26px;
	margin: 0;
}

.button-materials {
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: #606D70;
	margin-top: 15px;
	border: 1px solid #646D70;
	border-radius: 4px;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	padding: 10px 15px;
}

.button-materials:hover {
	color: #fff;
	background-color: #646D70;
}

.slider-materials {
	width: 325px;
	margin-top: -100px;
	z-index: 1;
}

.slider-materials .slick-dots {
	bottom: 20px;
}

.slider-materials .slick-dots li button:before {
	content: "";
	background: #fff;
	opacity: 0.4;
	height: 8px;
	width: 8px;
	border-radius: 50%;
}

.slider-materials .slick-dots li.slick-active button:before {
	opacity: 1;
}

.slider-inner .slide img {
	width: 325px;
	height: 366px;
}

.innovation {
	background: #222F33;
	padding: 70px 0 80px 0;
	position: relative;
}

.innovation-title {
	color: #fff;
	font-family: Merriweather;
	font-style: normal;
	font-weight: 900;
	font-size: 30px;
	margin: 0;
	padding-bottom: 15px;
}

.innovation-content {
	display: flex;
}

.innovation-content p {
	color: #fff;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 25px;
	margin: 0 70px 0 0;
	opacity: 0.7;
}

.innovation-content p:last-child {
	margin: 0;
}

.about-cabins {
	padding: 85px 0;
}

.images-cabins {
	float: left;
	width: 38%;
}

.description-cabins {
	float: right;
	width: 47%;
}

.advantages-cabins {
	margin-right: 110px;
	margin-bottom: 63px;
	display: inline-block;
	width: 180px;
	height: 90px;
}

.advantages-cabins:nth-child(even) {
	margin-right: 0;
}

.advantages-cabins:nth-child(n+5) {
	margin-bottom: 0;
}

.advantages-title {
	font-family: Merriweather;
	font-style: normal;
	font-weight: 900;
	font-size: 18px;
	margin: 0 0 10px 0;
	color: #000;
}

.advantages-content {
	margin: 0;
	font-family: Rubik;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: #646D70;
	opacity: 0.7;
	line-height: 22px;
}

.clearfix {
	clear: both;
}

footer {
	padding: 35px 70px;
	background: #222F33;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-mail {
	margin: 0;
	color: #FFFFFF;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	opacity: 0.6;
}

.footer-links {
	padding: 0;
	margin: 0;
	list-style: none;
}

.footer-links li {
	display: inline-block;
	margin-right: 35px;
}

.footer-links li:last-child {
	margin-right: 0;
}

.footer-links li a {
	color: #FFFFFF;
	font-family: Rubik;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	opacity: 0.6;
	text-decoration: none;
}